
.badgeContainer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #ffffff;
    border-radius: 7px;
    margin: 15px;
    padding: 20px;
    width: 270px;
}
.teamLogo{
    height: 130px;
    width: 130px;
    margin: 15px;
}
.teamName{
    height: 70px;
}
.badgeContainer:hover {
    transform: scale(1.05);
}