<nav class="navbar navbar-expand-lg navbar-dark d-flex">
    <a class="navbar-brand d-flex align-items-center" href="#">    
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png" 
            width="60" class="d-inline-block align-top m-1" alt="MLB logo">
        MLB
    </a> 
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="teams">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="players">Players</a>
            </li>
        </ul>
    </div>
    <div class="text-right float-right text-light">{{userName}}</div>
</nav> 